<div class="grid">

    <nav class="container mx-auto p-6 lg:flex lg:items-center lg:justify-between">
        <div class="flex items-center justify-between">
            <div>
                <a class="text-2xl font-bold text-gray-200 hover:text-gray-700 dark:text-white dark:hover:text-gray-300 lg:text-3xl" href="https://jafet.vercel.app/">PassGen</a>
            </div>
        </div>
    </nav>

    <div class="container mx-auto px-6 py-16 text-center">

        <div class="mx-auto max-w-lg">
            <h1 class="text-3xl font-bold text-gray-200 dark:text-white lg:text-4xl">FREE PASSWORD GENERATOR</h1>
        </div>

        <div class="pt-32 w-full md:space-x-4 relative sm:space-x-2 sm:space-y-4">

            <input class="text-gray-900 md:py-8 rounded-2xl text-3xl md:w-[10%] border-0 mt-0 focus:outline-none sm:w-[30%] sm:py-6" type="number" name="numCar" id="numCar" [(ngModel)]="numCar" minlength="1" maxlength="50" value="{{ numCar }}" (ngModelChange)="onChangeLength()">

            <input class="text-gray-900 md:py-8 rounded-2xl text-3xl md:w-[60%] border-0 mt-0 focus:outline-none sm:w-full sm:py-6 md:text-left sm:text-center" (click)="copyPass()" type="text" value="{{ newString }}" readonly>

            <button type="button" class="absolute translate-x-[-80%] xl:translate-y-0 bg-transparent text-transparent py-6 md:w-[8%] focus:outline-none md:inline sm:hidden" (click)="reload()">
                <img class="w-[40%] text-gray-500" src="https://www.svgrepo.com/show/14059/refresh.svg" alt="refresh">
            </button>

            <button type="button" class="bg-gray-100 text-gray-900 md:py-8 rounded-2xl text-3xl md:w-[20%] border-0 mt-0 focus:outline-none cursor-pointer sm:w-[50%] sm:py-6" (click)="copyPass()">
                Copiar
            </button>

            <div class="w-full pt-10 items-center md:space-x-4 sm:space-x-2 space-y-2">
                
                <input type="checkbox" class="size-4" [disabled]="isCheckDis" [(ngModel)]="checkboxValue" (change)="onCheckUpper(); onBoxChange()">
                <Label class="text-xl text-gray-200">A-Z</Label>

                <input type="checkbox" class="size-4" [(ngModel)]="checkboxValue2" (change)="onCheckLower(); onBoxChange()">
                <Label class="text-xl text-gray-200">a-z</Label>

                <input type="checkbox" class="size-4" [(ngModel)]="checkboxValue3" (change)="onCheckNumber(); onBoxChange()">
                <Label class="text-xl text-gray-200">0-9</Label>
                
                <input type="checkbox" class="size-4" [(ngModel)]="checkboxValue4" (change)="onCheckSpeChar(); onBoxChange()">
                <input type="text" class="md:w-[20%] y-1 text-lg rounded-lg sm:w-[50%]" id="specialChars" [disabled]="isDisabled" placeholder="{{ speCharAgain }}" [minlength]="4" [(ngModel)]="speChar" value="{{ speChar }}">

            </div>

            <div class="w-full size-6 pt-[15%] items-center md:space-x-10 sm:space-x-2 space-y-2">

                <button class="w-6" (click)="redirectToGit()">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#d6d6d6" d="M80 104a24 24 0 1 0 0-48 24 24 0 1 0 0 48zm80-24c0 32.8-19.7 61-48 73.3l0 87.8c18.8-10.9 40.7-17.1 64-17.1l96 0c35.3 0 64-28.7 64-64l0-6.7C307.7 141 288 112.8 288 80c0-44.2 35.8-80 80-80s80 35.8 80 80c0 32.8-19.7 61-48 73.3l0 6.7c0 70.7-57.3 128-128 128l-96 0c-35.3 0-64 28.7-64 64l0 6.7c28.3 12.3 48 40.5 48 73.3c0 44.2-35.8 80-80 80s-80-35.8-80-80c0-32.8 19.7-61 48-73.3l0-6.7 0-198.7C19.7 141 0 112.8 0 80C0 35.8 35.8 0 80 0s80 35.8 80 80zm232 0a24 24 0 1 0 -48 0 24 24 0 1 0 48 0zM80 456a24 24 0 1 0 0-48 24 24 0 1 0 0 48z"/></svg>
                </button>

                <button class="w-6" (click)="redirectToWebsite()">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill="#d6d6d6" d="M184 48l144 0c4.4 0 8 3.6 8 8l0 40L176 96l0-40c0-4.4 3.6-8 8-8zm-56 8l0 40L64 96C28.7 96 0 124.7 0 160l0 96 192 0 128 0 192 0 0-96c0-35.3-28.7-64-64-64l-64 0 0-40c0-30.9-25.1-56-56-56L184 0c-30.9 0-56 25.1-56 56zM512 288l-192 0 0 32c0 17.7-14.3 32-32 32l-64 0c-17.7 0-32-14.3-32-32l0-32L0 288 0 416c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-128z"/></svg>
                </button>
                
            </div>


            
        </div>

    </div>

     
</div>







