<div class="grid">

    <nav class="container mx-auto p-6 lg:flex lg:items-center lg:justify-between">
        <div class="flex items-center justify-between">
            <div>
                <a class="text-2xl font-bold text-gray-200 hover:text-gray-700 dark:text-white dark:hover:text-gray-300 lg:text-3xl" href="#">Brand</a>
            </div>
        </div>
    </nav>

    <div class="container mx-auto px-6 py-16 text-center">

        <div class="mx-auto max-w-lg">
            <h1 class="text-3xl font-bold text-gray-200 dark:text-white lg:text-4xl">FREE PASSWORD GENERATOR</h1>
        </div>

        <form class="pt-32 w-full space-x-4" action="">

            <input class="text-gray-900 py-8 rounded-2xl text-3xl w-[10%] border-0 mt-0 focus:outline-none" type="number" name="" id="" value="{{ len }}">

            <input class="text-gray-900 py-8 rounded-2xl text-3xl w-[60%] border-0 mt-0 focus:outline-none" type="text" value="{{ noComas }}">

            <button type="button" class="bg-gray-100 text-gray-900 py-8 rounded-2xl text-3xl w-[20%] border-0 mt-0 focus:outline-none cursor-pointer">
                Copiar
            </button>
        </form>

        <div>
            
        </div>


        <form class="pt-32" action="">
            <input type="checkbox" name="" id="" class="text-gray-900 py-8 rounded-2xl text-3xl w-[60%] border-0 mt-0 focus:outline-none">
        </form>

            
        <button (click)="reload()" type="button" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700 w-1/3">Recargar Página</button>

    </div>

     
</div>







