<div class="grid">

    <nav class="container mx-auto p-6 lg:flex lg:items-center lg:justify-between">
        <div class="flex items-center justify-between">
            <div>
                <a class="text-2xl font-bold text-gray-200 hover:text-gray-700 dark:text-white dark:hover:text-gray-300 lg:text-3xl" href="https://jafet.vercel.app/">PassGen</a>
            </div>
        </div>
    </nav>

    <div class="container mx-auto px-6 py-16 text-center">

        <div class="mx-auto max-w-lg">
            <h1 class="text-3xl font-bold text-gray-200 dark:text-white lg:text-4xl">FREE PASSWORD GENERATOR</h1>
        </div>

        <div class="pt-32 w-full space-x-4 relative" action="">

            <input class="text-gray-900 py-8 rounded-2xl text-3xl w-[10%] border-0 mt-0 focus:outline-none" type="number" name="numCar" id="numCar" [(ngModel)]="numCar" minlength="1" maxlength="2" value="{{ numCar }}" (ngModelChange)="onChangeLength()">


            <input class="text-gray-900 py-8 rounded-2xl text-3xl w-[60%] border-0 mt-0 focus:outline-none" type="text" value="{{ newString }}">
    
            <button type="button" class="absolute translate-x-[-80%] xl:translate-y-0 bg-transparent text-transparent py-6 w-[8%] focus:outline-none" (click)="reload()">
                <img class="w-[40%] text-gray-500" src="https://www.svgrepo.com/show/14059/refresh.svg" alt="refresh">
            </button>

            <button type="button" class="bg-gray-100 text-gray-900 py-8 rounded-2xl text-3xl w-[20%] border-0 mt-0 focus:outline-none cursor-pointer">
                Copiar
            </button>

            <div class="w-full pt-10 items-center space-x-4">
                
                <input type="checkbox" class="size-4" [(ngModel)]="checkboxValue" (change)="onCheckUpper()">
                <Label class="text-xl text-gray-200">A-Z</Label>

                <input type="checkbox" class="size-4" [(ngModel)]="checkboxValue2" (change)="onCheckLower()">
                <Label class="text-xl text-gray-200">a-z</Label>

                <input type="checkbox" class="size-4" [(ngModel)]="checkboxValue3" (change)="onCheckNumber()">
                <Label class="text-xl text-gray-200">0-9</Label>
                
                <input type="checkbox" class="size-4" [(ngModel)]="checkboxValue4" (change)="onCheckSpeChar()">
                <input type="text" class="w-[20%] py-1 text-lg rounded-lg" [minlength]="4" [(ngModel)]="speChar" value="{{ speChar }}">
                


            </div>


            
        </div>

    </div>

     
</div>







